{% include "index.html" %} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button type="button" class="btn btn-outline-primary">Editar</button>
        <button type="button" class="btn btn-outline-danger">Deletar</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
